body {
	background:#002a54;
	margin:auto;
}

h1 {
	font-family:Serif;
	font-size:50;
	color:#eaedf1;
	text-align:center;
}

h2 {
	font-family:Serif;
	font-size:20;
	color:#e04b27;
	text-align:center;
}
